name: smart_calculator_example
description: Demonstrates how to use the smart_calculator package.
publish_to: 'none' # Remove this line if you intend to publish this package to pub.dev

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  smart_calculator:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
